/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Error message */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Task list styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Color for 'Pending' status */
li.pending {
  background-color: #f8786f; /* Red for pending */
}

li.in-progress {
  background-color: #f8ea80; /* Yellow for in progress */
}

li.completed {
  background-color: #96f898; /* Green for completed */
}

/* Status text color */
li .status {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Buttons */
button {
  background-color: #fcfafa;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(14, 13, 13);
}

button:hover {
  background-color: #fc4e4e;
}

button:focus {
  outline: none;
}

button.edit {
  background-color: white;
}

button.edit:hover {
  background-color: orange;
}

button.save {
  background-color: #4caf50;
}

button.save:hover {
  background-color: #388e3c;
}

/* Make sure everything is centered */
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}